
body{
    background-image: url("../IMG/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family:cursive;
}
.productedit{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.catebtns{
    display: flex;
}
.editplace{
    width: 150px;
    color: white;
    background-color: black;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px 10px 0px 0px ;
}
.editcontent{
    background-color: rgba(255, 255, 255, 0.582);
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-right: 5%;
}
.editcontent h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.productnew{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
.productnew input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.sendbtn{
    border: none;
    background-color: black;
    color: white;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
/* 訂單管理 */
#orde{
    display: none;
}
/* 客戶留言 */
#help{
    display: none;
}
/* rwd */
@media screen and (max-width: 450px) {
    .editplace{
        margin-right: 5px;
        font-size: 12px;
    }
    .editcontent h1{
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .productnew{
        font-size: 14px;
        line-height: 30px;
    }
    .productnew input{
        width: 60%;
        height: 22px;
        font-size: 16px;
    }
    .sendbtn{
        padding-top: 0px;
    }
}