@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css');

* {
    margin: 0;
    padding: 0;
}
.phonefunc{
    visibility: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin-top: 20px;
    width: 70%;
    margin-left: 60px;
}

.box {
    /* border: 1px solid blue; */
    height: 880px;
    width: auto;
}

.box1 {
    /* border: 1px solid blue; */
    height: 1000px;
    width: auto;
}

body {
    background-color: rgb(241, 239, 236);
}

/* 第一區塊 */
.brtop {
    background-color: rgb(39, 37, 37);
    height: 710px;
}

.brand {
    background-color: rgb(255, 255, 255);
    width: 940px;
    /* width: 600px; */
    height: 450px;
    /* height: 400px; */
    position: relative;
    top: 135px;
    left: 14%;
    padding-left: 35px;
    border-radius: 5px;
}

.bd {
    text-align: left;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top: -760px;
    left: -140px;
    padding: 5px 23px;
    transition: 0.5s;

}

.bd p {
    font-size: 35px;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.bd:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 6px rgb(240, 240, 240);
}

.bdpic {
    position: relative;
    top: 40px;
    width: 580px;
    overflow: hidden;
    transition: 0.5s;
    height: 370px;
}

#bdpic {
    width: 580px;
    transition: 0.5s;
    opacity: 0.88;
}

#bdpic:hover {
    transform: scale(1.1);
    opacity: 1;
}

.brword {
    width: 430px;
    height: 250px;
    font-family: 'Dancing Script', cursive;
    background-color: rgb(200, 218, 226);
    position: relative;
    left: 700px;
    top: -260px;
    padding-right: 40px;
    padding-left: 45px;
    padding-top: 30px;
    border-radius: 5px;
    transition: 0.5s;
    text-align: right;
}

.brword:hover {
    box-shadow: 3px 5px 6px rgb(51, 51, 51);
}

.brword p {
    font-size: 16px;
    position: relative;
    top: 10px;
}

.bdpic1 {
    position: relative;
    left: 600px;
    top: -310px;
    width: 210px;
    overflow: hidden;
    padding: 5px 5px 30px 5px;
    background-color: rgb(128, 129, 129);
    border-radius: 5px;
    transition: 0.5s;
}

#bdpic1 {
    width: 200px;
    border-radius: 5px;
    border: 2px solid white;
}

.bdpic1:hover {
    box-shadow: 3px 5px 6px rgb(51, 51, 51);
}

/* 第二區塊背景 */
.deco {
    width: 650px;
    height: 850px;
    position: relative;
    left: 10px;
}

.bgpic {
    width: 455px;
    padding: 10px;
    background-color: rgb(128, 129, 129);
    position: relative;
    top: 100px;
    left: 90px;
    z-index: 10;
}

#bgpic {
    height: 650px;
    width: 434px;
}

/* 膠帶 */
.tape {
    width: 40px;
    height: 230px;
    background-color: rgb(207, 183, 160);
    opacity: 0.8;
    position: relative;
    top: -650px;
    left: 110px;
    transform: rotate(45deg);
    z-index: 10;
}

.sec {
    width: 40px;
    height: 230px;
    background-color: rgb(207, 183, 160);
    opacity: 0.8;
    position: relative;
    top: -290px;
    left: 490px;
    transform: rotate(45deg);
    z-index: 10;
}

/* 鋸齒狀 */
.tape::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
    background: linear-gradient(45deg,
            transparent 33.333%,
            rgb(207, 183, 160) 33.333%,
            rgb(207, 183, 160) 66.667%,
            transparent 66.667%),
        linear-gradient(-45deg,
            transparent 33.333%,
            rgb(207, 183, 160) 33.333%,
            rgb(207, 183, 160) 66.667%,
            transparent 66.667%);
    background-size: 8px 30px;
}

.tape::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    transform: rotate(180deg);
    background: linear-gradient(45deg,
            transparent 33.333%,
            rgb(207, 183, 160) 33.333%,
            rgb(207, 183, 160) 66.667%,
            transparent 66.667%),
        linear-gradient(-45deg,
            transparent 33.333%,
            rgb(207, 183, 160) 33.333%,
            rgb(207, 183, 160) 66.667%,
            transparent 66.667%);
    background-size: 10px 30px;
}

.backwhite {
    background-color: white;
    width: 400px;
    height: 650px;
    position: relative;
    left: 190px;
    top: -1070px;
    opacity: 0.8;
}

/* 搖晃動畫 */
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-15deg);
    }

}

/* 第二區塊 */

.showspace {
    background-color: white;
    width: 680px;
    height: 710px;
    position: relative;
    left: 700px;
    top: -785px;
    border-radius: 5px;
    z-index: 3;
}

/* 商品推薦 */
.product {
    width: 340px;
    height: 355px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 45px;
    background-color: white;
}

.three {
    position: relative;
    left: 340px;
    top: -710px;
}

.three img {
    height: 230px;
}

.product img {
    width: 185px;
    height: 193px;
    transition: 0.5s;
}

.product img:hover {
    transform: scale(0.9);
}

.bestdeco {
    position: relative;
    top: -630px;
    left: 420px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    animation: shake 0.8s infinite;
}

.bestdeco img {
    width: 200px;
}

/* 商品總覽 */
.showspace2 {
    width: 1000px;
    height: auto;
    background-color: white;
    margin-left: 15%;
    margin-bottom: 30px;
    display: flex;
    font-family: 'Dancing Script', cursive;
}

.productshow {
    width: 340px;
    height: 355px;
    border-bottom: 0.8px solid gray;
    text-align: center;
    padding-top: 74px;
    margin-left: 80px;
    margin-bottom: 30px;
    background-color: white;
}

.productshow img {
    width: 220px;
    transition: 0.5s;
}

.productshow img:hover {
    transform: scale(0.9);
}

.proword {
    width: 600px;
    font-size: 16px;
    position: relative;
    margin-left: 10%;
    padding-right: 8%;
    padding-top: 8%;
    transition: 0.3s;
}

.proword h1:hover {
    opacity: 0.5;
}

.proword h4 {
    margin-top: 10px;
}

.proword p {
    margin-top: 30px;
}

/* footer */
footer {
    /* position: relative;
    top: 700px; */
    height: 200px;
    background-color: black;
}

.footword {
    color: white;
    width: 30%;
    height: 300px;
}
/* rwd */

@media screen and (max-width: 1024px) {
    .box{
        overflow: hidden;
    }
    .box1{
        overflow: hidden;
    }
    .brtop{
        height: 400px;
    }
    
    .bd{
        visibility: hidden;
    }
    .brword{
        left: 150px;
        top: 80px;
        z-index: 20;
    }
    .bdpic {
        visibility: hidden;
    }
    .brand{
        background-color: unset;
    }
    #bdpic {
       visibility: hidden;
    }
    .bdpic1 {
        visibility: hidden;
    }
    .showspace {
      visibility: hidden;
    }
    .showspace2 {
        width: 620px;
        height: auto;
        background-color: white;
        margin-left: 9%;
        margin-bottom: 30px;
        display: flex;
        font-family: 'Dancing Script', cursive;
    }
    .deco{
        position: relative;
        left: -30px;
    }
}
@media screen and (max-width: 450px) {
    
    .brtop{
        background-image: url("/assets/IMG/diptyque.png");
        height: 250px;
        margin-top: 140px;
    }
    .bd{
       visibility: hidden;
    }
    .brand{
        visibility: hidden;
    }

    .backwhite{
       left: 30px;
       width: 320px;
       height: 520px;
       top: -860px;
    }
    .bgpic {
        width: 320px;
        padding: 10px;
        background-color: rgb(128, 129, 129);
        position: relative;
        top: 100px;
        left: 15px;
        z-index: 10;
    }
    .deco{
        position: relative;
        left: 2%;
    }
    #bgpic {
        height: 510px;
        width: 300px;
    }
    .tape {
        width: 40px;
        height: 200px;
        background-color: rgb(207, 183, 160);
        opacity: 0.8;
        position: relative;
        top: -500px;
        left: 35px;
        transform: rotate(45deg);
        z-index: 10;
    }
    .sec {
        width: 40px;
        height: 200px;
        background-color: rgb(207, 183, 160);
        opacity: 0.8;
        position: relative;
        top: -250px;
        left: 260px;
        transform: rotate(45deg);
        z-index: 10;
    }

    .showspace2 {
        width: 85%;
        height: auto;
        background-color: white;
        margin-left: 8%;
        margin-bottom: 30px;
        display: block;
        font-family: 'Dancing Script', cursive;
        position: relative;
        top: -250px;
    }
    .productshow {
        width: 150px;
        height: 250px;
        border-bottom: 0.8px solid gray;
        text-align: center;
        padding-top: 74px;
        margin-left: 80px;
        margin-bottom: 30px;
        background-color: white;
    }
    .productshow img {
        width: 150px;
    }
    .proword {
        width: 300px;
        font-size: 14px;
        margin-left: 8%;
        padding-right: 7%;
        padding-bottom: 5%;
        padding-top: 1%;
    }
    .member{
        visibility: hidden;
    }
    .contact{
        visibility: hidden;
    }
    .cart{
        visibility: hidden;
    }
    .phonefunc{
        visibility: visible;
    }
}
