        /*動態廣告*/
.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.slide img {
    width: 100%;
    height: 100%;
}
.prevbtn,
.nextbtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(117, 117, 117);
    background: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.nextbtn {
    right: 0;
}
.prevbtn:hover,
.nextbtn:hover {
    color: white;
    background: #272727;
}
.control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    
}
.control-btn {
    cursor: pointer;
    height: 12px;
    width: 50px;
    margin: 0 30px;
    background-color: rgb(233, 233, 233);
    border-radius: 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.control-btn:hover {
    background-color: #272727;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}
.candle {
    position: absolute;
    width: 100%;
    height: 200vh;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.exbox{
    width: 400px;
    overflow: hidden;
    height: 600px;
    background-image: url("../IMG/explore.png");
    background-size: cover;
    background-position: center;
    margin-left: 16%;
    top: 10%;
    position: relative;
}
.exbox1{
    width: 400px;
    overflow: hidden;
    height: 650px;
    background-image: url("../IMG/explore1.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 58%;
    top: 18%;
    position: relative;
}

.exword{
    color: rgb(209, 209, 209);
    margin-left: 50%;
    position: absolute;
    top: 20%;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
}
.exword1{
    color: rgb(209, 209, 209);
    margin-left: 10%;
    position: absolute;
    top: 62%;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
}
.exword1 h2{
    font-size: 42px;
    color: white;
    margin-bottom: 10px;
}
.exword1 p{
    margin-top: 50px;
    text-align: center;
}
.candle h1{
    margin-bottom: 50px;
    font-size: 42px;
    color: white;
}
.candle p{
    line-height: 40px;
    font-size: 22px;
}
.candle > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#text {
    position: absolute;
    background: rgba(87, 87, 87, 0.603);
    width: 25%;
    left: 50px;
    top: 50%;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 20px 40px;
    text-align: center;
}
#text > h2{
    font-size: 2em;
}
#text > p {
    padding-top: 10px;
}
        /*hotsale*/
.hotsale {
    background: #F1EFEC;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% auto;
    justify-items: center;
}
.hotsale a{
    text-decoration: none;
    color: inherit;
}
.hotsale h2{
    grid-column: span 3;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hotsale .hotsale-card {
    height: 50vh;
    width: 80%;
    background: rgb(255, 255, 255);
    transition: 0.3s ease;
    text-align: center;
}
.hotsale .hotsale-card:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(102, 102, 102, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(102, 102, 102, 0.5);
}
.decan{
    width: 58%;
    height: 50%;
    margin-top: 40px;
}
.lecan{
    width: 45%;
    height: 50%;
    margin-top: 40px;
}
.hotsale .hotsale-card p {
    padding: 20px;
    margin-top: 30px;
    background-color: rgb(218, 218, 218);
    font-size: 20px;
}
.no123{
    position: absolute;
    color: white;
    background-color: black;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}
.product-brand {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 150px;
}
.product-brand h2{
    grid-column: span 3;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-brand a{
    text-decoration: none;
    color: inherit;
}
.product-brand .brand {
    padding: 50px;
    text-align: center;
    width: 370px;
    height: 370px;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 4px 4px 6px black;
    margin-top: 50px;
}
.product-brand .brand:hover{
    padding-top: 100px;
}
.product-brand .brand p {
    font-size: 5rem;
    transition: 0.3s ease;
}
.product-brand .brand:hover p{
    font-size: 4.5rem;
}
.brand-left{
background-image: url("../IMG/button1.png");
background-size: cover;
background-position: center center;
}
.brand-mid{
    background-image: url("../IMG/button2.jpg");
background-size: cover;
background-position: center center;
}
.brand-right{
    background-image: url("../IMG/diptyquebg.jpg");
background-size: cover;
background-position: center center;
}
footer {
    background: #000;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 35%;
    padding-right: 35%;
}
footer .footer-container {
    font-size: 18px;
    color: rgb(228, 228, 228);
    text-align: center;
    line-height: 28px;
}
.information:hover{
    animation: rubberBand 1s;
    color: rgb(228, 203, 170);
}
.copyright{
    margin-bottom: 20px;
    font-size: 16px;
}
.copyright:hover{
    animation: rubberBand 1s;
    color: rgb(228, 203, 170);
}
.browseNum:hover{
    animation: rubberBand 1s;
    color: rgb(228, 203, 170);
}
@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
